In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('vaccine_data_new.csv')
df

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [3]:
census_df = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')
census_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [4]:
# Changing the data types of last week columns
vaccine_df_copy = df.copy()

vaccine_df_copy['14/08/2021.3'] = pd.to_numeric(vaccine_df_copy['14/08/2021.3'])
vaccine_df_copy['13/08/2021.3'] = pd.to_numeric(vaccine_df_copy['13/08/2021.3'])
vaccine_df_copy['12/08/2021.3'] = pd.to_numeric(vaccine_df_copy['12/08/2021.3'])
vaccine_df_copy['11/08/2021.3'] = pd.to_numeric(vaccine_df_copy['11/08/2021.3'])
vaccine_df_copy['10/08/2021.3'] = pd.to_numeric(vaccine_df_copy['10/08/2021.3'])
vaccine_df_copy['09/08/2021.3'] = pd.to_numeric(vaccine_df_copy['09/08/2021.3'])
vaccine_df_copy['08/08/2021.3'] = pd.to_numeric(vaccine_df_copy['08/08/2021.3'])
vaccine_df_copy['07/08/2021.3'] = pd.to_numeric(vaccine_df_copy['07/08/2021.3'])
vaccine_df_copy

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [5]:
# Creating a temporary datafram for storing the results
# Also adding state list to it
newdf = pd.DataFrame()

newdf['State'] = df['State'].unique()
newdf

                                       State
0                Andaman and Nicobar Islands
1                             Andhra Pradesh
2                          Arunachal Pradesh
3                                      Assam
4                                      Bihar
5                                 Chandigarh
6                               Chhattisgarh
7   Dadra and Nagar Haveli and Daman and Diu
8                                      Delhi
9                                        Goa
10                                   Gujarat
11                                   Haryana
12                          Himachal Pradesh
13                         Jammu and Kashmir
14                                 Jharkhand
15                                 Karnataka
16                                    Kerala
17                                    Ladakh
18                               Lakshadweep
19                            Madhya Pradesh
20                               Maharashtra
21                                   Manipur
22                                 Meghalaya
23                                   Mizoram
24                                  Nagaland
25                                    Odisha
26                                Puducherry
27                                    Punjab
28                                 Rajasthan
29                                    Sikkim
30                                Tamil Nadu
31                                 Telangana
32                                   Tripura
33                             Uttar Pradesh
34                               Uttarakhand
35                               West Bengal

In [6]:
# First_Dose stores the total number of first doses adiministered in each state till 14-8-2021
# First_Dose_Vaccination_Rate stores the average vaccination rate of last week (8-8-2021 to 14-8-2021)
newdf['First_Dose'] = np.nan
newdf['First_Dose_Vaccination_Rate'] = np.nan
newdf

,State,First_Dose,First_Dose_Vaccination_Rate
0,Andaman and Nicobar Islands,NaN,NaN
1,Andhra Pradesh,NaN,NaN
2,Arunachal Pradesh,NaN,NaN
3,Assam,NaN,NaN
4,Bihar,NaN,NaN
5,Chandigarh,NaN,NaN
6,Chhattisgarh,NaN,NaN
7,Dadra and Nagar Haveli and Daman and Diu,NaN,NaN
8,Delhi,NaN,NaN
9,Goa,NaN,NaN
10,Gujarat,NaN,NaN
11,Haryana,NaN,NaN
12,Himachal Pradesh,NaN,NaN
13,Jammu and Kashmir,NaN,NaN
14,Jharkhand,NaN,NaN
15,Karnataka,NaN,NaN
16,Kerala,NaN,NaN
17,Ladakh,NaN,NaN
18,Lakshadweep,NaN,NaN
19,Madhya Pradesh,NaN,NaN
20,Maharashtra,NaN,NaN
21,Manipur,NaN,NaN
22,Meghalaya,NaN,NaN
23,Mizoram,NaN,NaN
24,Nagaland,NaN,NaN
25,Odisha,NaN,NaN
26,Puducherry,NaN,NaN
27,Punjab,NaN,NaN
28,Rajasthan,NaN,NaN
29,Sikkim,NaN,NaN
30,Tamil Nadu,NaN,NaN
31,Telangana,NaN,NaN
32,Tripura,NaN,NaN
33,Uttar Pradesh,NaN,NaN
34,Uttarakhand,NaN,NaN
35,West Bengal,NaN,NaN

In [7]:
# Filling the first_dose adn first_dose_vaccination_rate column values 
# For finding the total first doses administered of each state adding all its district vaccination data
# For finding the vaccination rate of each state calculating the number of first doses on 
# 08/08/2021 (by subtracting 07/08/2021 first dose value from 08/08/2021 first dose value as data is cumulative),
# 09/08/2021 (by subtracting 08/08/2021 first dose value from 09/08/2021 first dose value as data is cumulative),
# and so on till 14/08/2021. Then dividing their sum by 7 to calculate weeks average

for i in range(len(newdf)):
    tempdf = vaccine_df_copy[vaccine_df_copy['State'] == newdf.iloc[i,0]]
    sumdf = tempdf.sum(axis=0)
    week_sum_vaccination_rate = 0
    for j in range(14,7,-1):
        if j>10:
            week_sum_vaccination_rate += (pd.to_numeric(sumdf.loc[str(j)+'/08/2021.3']) - pd.to_numeric(sumdf.loc[str(j-1)+'/08/2021.3']))
        elif j==10:
            week_sum_vaccination_rate += (pd.to_numeric(sumdf.loc[str(j)+'/08/2021.3']) - pd.to_numeric(sumdf.loc['0'+str(j-1)+'/08/2021.3']))
        else:
            week_sum_vaccination_rate += (pd.to_numeric(sumdf.loc['0'+str(j)+'/08/2021.3']) - pd.to_numeric(sumdf.loc['0'+str(j-1)+'/08/2021.3']))
    week_avg_vaccination_rate = week_sum_vaccination_rate / 7
    newdf.iloc[i,1] = pd.to_numeric(sumdf.loc['14/08/2021.3'])
    newdf.iloc[i,2] = week_avg_vaccination_rate
newdf

,State,First_Dose,First_Dose_Vaccination_Rate
0,Andaman and Nicobar Islands,232709.0,2526.857143
1,Andhra Pradesh,18516141.0,148431.142857
2,Arunachal Pradesh,700977.0,1850.285714
3,Assam,11430053.0,177262.285714
4,Bihar,25167378.0,317408.428571
5,Chandigarh,733579.0,6710.000000
6,Chhattisgarh,9383511.0,37209.571429
7,Dadra and Nagar Haveli and Daman and Diu,598380.0,2584.714286
8,Delhi,8251002.0,72391.571429
9,Goa,1112815.0,3632.857143
10,Gujarat,30219308.0,394058.428571
11,Haryana,10492106.0,77112.142857
12,Himachal Pradesh,4950789.0,108652.857143
13,Jammu and Kashmir,5546227.0,44525.714286
14,Jharkhand,8797921.0,77175.428571
15,Karnataka,26662330.0,170487.428571
16,Kerala,17281691.0,266408.142857
17,Ladakh,189535.0,158.428571
18,Lakshadweep,51678.0,118.142857
19,Madhya Pradesh,31664637.0,350478.857143
20,Maharashtra,36383348.0,234940.000000
21,Manipur,1173886.0,3286.285714
22,Meghalaya,968800.0,5198.142857
23,Mizoram,660109.0,967.857143
24,Nagaland,639379.0,1365.857143
25,Odisha,15009657.0,183224.571429
26,Puducherry,616278.0,2849.142857
27,Punjab,8406019.0,77846.285714
28,Rajasthan,28531782.0,260147.857143
29,Sikkim,500829.0,525.000000
30,Tamil Nadu,21748109.0,177212.000000
31,Telangana,12073689.0,69077.142857
32,Tripura,2433697.0,4058.142857
33,Uttar Pradesh,48248265.0,435700.000000
34,Uttarakhand,5495857.0,67508.000000
35,West Bengal,24815523.0,265210.000000

In [8]:
# Separating the state census data to find population of each state
state_census = census_df[census_df['Level'] == 'STATE']
state_census

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
5,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Urban,566285,...,3634,4622,1023,3599,19225,11255,7970,2223610,883101,1340509
72,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Total,1483280,...,13195,7676,2959,4717,53557,29186,24371,3305180,1438500,1866680
73,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Rural,1312510,...,13026,7407,2842,4565,50852,27470,23382,2886666,1273987,1612679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,34,0,0,0,0,0,STATE,PUDUCHERRY,Rural,95018,...,1908,188,71,117,1713,1029,684,247324,89202,158122
2003,34,0,0,0,0,0,STATE,PUDUCHERRY,Urban,207432,...,281,215,64,151,2905,1802,1103,555661,190378,365283
2016,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,94551,...,204,559,282,277,3774,2576,1198,228046,81982,146064
2017,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Rural,58530,...,202,553,278,275,3170,2150,1020,142624,51617,91007
2018,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Urban,36021,...,2,6,4,2,604,426,178,85422,30365,55057

In [9]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate
0,Andaman and Nicobar Islands,232709.0,2526.857143
1,Andhra Pradesh,18516141.0,148431.142857
2,Arunachal Pradesh,700977.0,1850.285714
3,Assam,11430053.0,177262.285714
4,Bihar,25167378.0,317408.428571
5,Chandigarh,733579.0,6710.000000
6,Chhattisgarh,9383511.0,37209.571429
7,Dadra and Nagar Haveli and Daman and Diu,598380.0,2584.714286
8,Delhi,8251002.0,72391.571429
9,Goa,1112815.0,3632.857143
10,Gujarat,30219308.0,394058.428571
11,Haryana,10492106.0,77112.142857
12,Himachal Pradesh,4950789.0,108652.857143
13,Jammu and Kashmir,5546227.0,44525.714286
14,Jharkhand,8797921.0,77175.428571
15,Karnataka,26662330.0,170487.428571
16,Kerala,17281691.0,266408.142857
17,Ladakh,189535.0,158.428571
18,Lakshadweep,51678.0,118.142857
19,Madhya Pradesh,31664637.0,350478.857143
20,Maharashtra,36383348.0,234940.000000
21,Manipur,1173886.0,3286.285714
22,Meghalaya,968800.0,5198.142857
23,Mizoram,660109.0,967.857143
24,Nagaland,639379.0,1365.857143
25,Odisha,15009657.0,183224.571429
26,Puducherry,616278.0,2849.142857
27,Punjab,8406019.0,77846.285714
28,Rajasthan,28531782.0,260147.857143
29,Sikkim,500829.0,525.000000
30,Tamil Nadu,21748109.0,177212.000000
31,Telangana,12073689.0,69077.142857
32,Tripura,2433697.0,4058.142857
33,Uttar Pradesh,48248265.0,435700.000000
34,Uttarakhand,5495857.0,67508.000000
35,West Bengal,24815523.0,265210.000000

In [10]:
newdf['Population'] = np.nan
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,Andaman and Nicobar Islands,232709.0,2526.857143,NaN
1,Andhra Pradesh,18516141.0,148431.142857,NaN
2,Arunachal Pradesh,700977.0,1850.285714,NaN
3,Assam,11430053.0,177262.285714,NaN
4,Bihar,25167378.0,317408.428571,NaN
5,Chandigarh,733579.0,6710.000000,NaN
6,Chhattisgarh,9383511.0,37209.571429,NaN
7,Dadra and Nagar Haveli and Daman and Diu,598380.0,2584.714286,NaN
8,Delhi,8251002.0,72391.571429,NaN
9,Goa,1112815.0,3632.857143,NaN
10,Gujarat,30219308.0,394058.428571,NaN
11,Haryana,10492106.0,77112.142857,NaN
12,Himachal Pradesh,4950789.0,108652.857143,NaN
13,Jammu and Kashmir,5546227.0,44525.714286,NaN
14,Jharkhand,8797921.0,77175.428571,NaN
15,Karnataka,26662330.0,170487.428571,NaN
16,Kerala,17281691.0,266408.142857,NaN
17,Ladakh,189535.0,158.428571,NaN
18,Lakshadweep,51678.0,118.142857,NaN
19,Madhya Pradesh,31664637.0,350478.857143,NaN
20,Maharashtra,36383348.0,234940.000000,NaN
21,Manipur,1173886.0,3286.285714,NaN
22,Meghalaya,968800.0,5198.142857,NaN
23,Mizoram,660109.0,967.857143,NaN
24,Nagaland,639379.0,1365.857143,NaN
25,Odisha,15009657.0,183224.571429,NaN
26,Puducherry,616278.0,2849.142857,NaN
27,Punjab,8406019.0,77846.285714,NaN
28,Rajasthan,28531782.0,260147.857143,NaN
29,Sikkim,500829.0,525.000000,NaN
30,Tamil Nadu,21748109.0,177212.000000,NaN
31,Telangana,12073689.0,69077.142857,NaN
32,Tripura,2433697.0,4058.142857,NaN
33,Uttar Pradesh,48248265.0,435700.000000,NaN
34,Uttarakhand,5495857.0,67508.000000,NaN
35,West Bengal,24815523.0,265210.000000,NaN

In [11]:
# Converting state names in newdf to uppercase so that names can match with state census data
newdf['State'] = newdf['State'].apply(lambda x: x.upper())
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN AND NICOBAR ISLANDS,232709.0,2526.857143,NaN
1,ANDHRA PRADESH,18516141.0,148431.142857,NaN
2,ARUNACHAL PRADESH,700977.0,1850.285714,NaN
3,ASSAM,11430053.0,177262.285714,NaN
4,BIHAR,25167378.0,317408.428571,NaN
5,CHANDIGARH,733579.0,6710.000000,NaN
6,CHHATTISGARH,9383511.0,37209.571429,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,NaN
8,DELHI,8251002.0,72391.571429,NaN
9,GOA,1112815.0,3632.857143,NaN
10,GUJARAT,30219308.0,394058.428571,NaN
11,HARYANA,10492106.0,77112.142857,NaN
12,HIMACHAL PRADESH,4950789.0,108652.857143,NaN
13,JAMMU AND KASHMIR,5546227.0,44525.714286,NaN
14,JHARKHAND,8797921.0,77175.428571,NaN
15,KARNATAKA,26662330.0,170487.428571,NaN
16,KERALA,17281691.0,266408.142857,NaN
17,LADAKH,189535.0,158.428571,NaN
18,LAKSHADWEEP,51678.0,118.142857,NaN
19,MADHYA PRADESH,31664637.0,350478.857143,NaN
20,MAHARASHTRA,36383348.0,234940.000000,NaN
21,MANIPUR,1173886.0,3286.285714,NaN
22,MEGHALAYA,968800.0,5198.142857,NaN
23,MIZORAM,660109.0,967.857143,NaN
24,NAGALAND,639379.0,1365.857143,NaN
25,ODISHA,15009657.0,183224.571429,NaN
26,PUDUCHERRY,616278.0,2849.142857,NaN
27,PUNJAB,8406019.0,77846.285714,NaN
28,RAJASTHAN,28531782.0,260147.857143,NaN
29,SIKKIM,500829.0,525.000000,NaN
30,TAMIL NADU,21748109.0,177212.000000,NaN
31,TELANGANA,12073689.0,69077.142857,NaN
32,TRIPURA,2433697.0,4058.142857,NaN
33,UTTAR PRADESH,48248265.0,435700.000000,NaN
34,UTTARAKHAND,5495857.0,67508.000000,NaN
35,WEST BENGAL,24815523.0,265210.000000,NaN

In [12]:
# Replacing names of state in newdf according to their state names in state census data
newdf.replace('ANDAMAN AND NICOBAR ISLANDS', 'ANDAMAN & NICOBAR ISLANDS',inplace=True)
newdf.replace('DELHI', 'NCT OF DELHI',inplace=True)

In [13]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,NaN
1,ANDHRA PRADESH,18516141.0,148431.142857,NaN
2,ARUNACHAL PRADESH,700977.0,1850.285714,NaN
3,ASSAM,11430053.0,177262.285714,NaN
4,BIHAR,25167378.0,317408.428571,NaN
5,CHANDIGARH,733579.0,6710.000000,NaN
6,CHHATTISGARH,9383511.0,37209.571429,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,NaN
8,NCT OF DELHI,8251002.0,72391.571429,NaN
9,GOA,1112815.0,3632.857143,NaN
10,GUJARAT,30219308.0,394058.428571,NaN
11,HARYANA,10492106.0,77112.142857,NaN
12,HIMACHAL PRADESH,4950789.0,108652.857143,NaN
13,JAMMU AND KASHMIR,5546227.0,44525.714286,NaN
14,JHARKHAND,8797921.0,77175.428571,NaN
15,KARNATAKA,26662330.0,170487.428571,NaN
16,KERALA,17281691.0,266408.142857,NaN
17,LADAKH,189535.0,158.428571,NaN
18,LAKSHADWEEP,51678.0,118.142857,NaN
19,MADHYA PRADESH,31664637.0,350478.857143,NaN
20,MAHARASHTRA,36383348.0,234940.000000,NaN
21,MANIPUR,1173886.0,3286.285714,NaN
22,MEGHALAYA,968800.0,5198.142857,NaN
23,MIZORAM,660109.0,967.857143,NaN
24,NAGALAND,639379.0,1365.857143,NaN
25,ODISHA,15009657.0,183224.571429,NaN
26,PUDUCHERRY,616278.0,2849.142857,NaN
27,PUNJAB,8406019.0,77846.285714,NaN
28,RAJASTHAN,28531782.0,260147.857143,NaN
29,SIKKIM,500829.0,525.000000,NaN
30,TAMIL NADU,21748109.0,177212.000000,NaN
31,TELANGANA,12073689.0,69077.142857,NaN
32,TRIPURA,2433697.0,4058.142857,NaN
33,UTTAR PRADESH,48248265.0,435700.000000,NaN
34,UTTARAKHAND,5495857.0,67508.000000,NaN
35,WEST BENGAL,24815523.0,265210.000000,NaN

In [14]:
# Filling population of each state from state census data
# Also printing the names if the states for which population data was not found in state census data
for i in newdf.index:
    try:
        newdf.iloc[i,3] = int(state_census[state_census['Name'] == newdf.iloc[i,0]].iloc[0]['TOT_P'])
    except:
        print(newdf.iloc[i,0])

DADRA AND NAGAR HAVELI AND DAMAN AND DIU
JAMMU AND KASHMIR
LADAKH
TELANGANA

In [15]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0
3,ASSAM,11430053.0,177262.285714,31205576.0
4,BIHAR,25167378.0,317408.428571,104099452.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,NaN
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0
9,GOA,1112815.0,3632.857143,1458545.0
10,GUJARAT,30219308.0,394058.428571,60439692.0
11,HARYANA,10492106.0,77112.142857,25351462.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0
13,JAMMU AND KASHMIR,5546227.0,44525.714286,NaN
14,JHARKHAND,8797921.0,77175.428571,32988134.0
15,KARNATAKA,26662330.0,170487.428571,61095297.0
16,KERALA,17281691.0,266408.142857,33406061.0
17,LADAKH,189535.0,158.428571,NaN
18,LAKSHADWEEP,51678.0,118.142857,64473.0
19,MADHYA PRADESH,31664637.0,350478.857143,72626809.0
20,MAHARASHTRA,36383348.0,234940.000000,112374333.0
21,MANIPUR,1173886.0,3286.285714,2855794.0
22,MEGHALAYA,968800.0,5198.142857,2966889.0
23,MIZORAM,660109.0,967.857143,1097206.0
24,NAGALAND,639379.0,1365.857143,1978502.0
25,ODISHA,15009657.0,183224.571429,41974218.0
26,PUDUCHERRY,616278.0,2849.142857,1247953.0
27,PUNJAB,8406019.0,77846.285714,27743338.0
28,RAJASTHAN,28531782.0,260147.857143,68548437.0
29,SIKKIM,500829.0,525.000000,610577.0
30,TAMIL NADU,21748109.0,177212.000000,72147030.0
31,TELANGANA,12073689.0,69077.142857,NaN
32,TRIPURA,2433697.0,4058.142857,3673917.0
33,UTTAR PRADESH,48248265.0,435700.000000,199812341.0
34,UTTARAKHAND,5495857.0,67508.000000,10086292.0
35,WEST BENGAL,24815523.0,265210.000000,91276115.0

In [16]:
# As UT DADRA & NAGAR HAVELI AND DAMAN & DIU population data is available in census data but separately adding both values
newdf.iloc[7,3] = state_census[state_census['Name']=='DADRA & NAGAR HAVELI'].iloc[0]['TOT_P'] + state_census[state_census['Name']=='DAMAN & DIU'].iloc[0]['TOT_P']

In [17]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0
3,ASSAM,11430053.0,177262.285714,31205576.0
4,BIHAR,25167378.0,317408.428571,104099452.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0
9,GOA,1112815.0,3632.857143,1458545.0
10,GUJARAT,30219308.0,394058.428571,60439692.0
11,HARYANA,10492106.0,77112.142857,25351462.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0
13,JAMMU AND KASHMIR,5546227.0,44525.714286,NaN
14,JHARKHAND,8797921.0,77175.428571,32988134.0
15,KARNATAKA,26662330.0,170487.428571,61095297.0
16,KERALA,17281691.0,266408.142857,33406061.0
17,LADAKH,189535.0,158.428571,NaN
18,LAKSHADWEEP,51678.0,118.142857,64473.0
19,MADHYA PRADESH,31664637.0,350478.857143,72626809.0
20,MAHARASHTRA,36383348.0,234940.000000,112374333.0
21,MANIPUR,1173886.0,3286.285714,2855794.0
22,MEGHALAYA,968800.0,5198.142857,2966889.0
23,MIZORAM,660109.0,967.857143,1097206.0
24,NAGALAND,639379.0,1365.857143,1978502.0
25,ODISHA,15009657.0,183224.571429,41974218.0
26,PUDUCHERRY,616278.0,2849.142857,1247953.0
27,PUNJAB,8406019.0,77846.285714,27743338.0
28,RAJASTHAN,28531782.0,260147.857143,68548437.0
29,SIKKIM,500829.0,525.000000,610577.0
30,TAMIL NADU,21748109.0,177212.000000,72147030.0
31,TELANGANA,12073689.0,69077.142857,NaN
32,TRIPURA,2433697.0,4058.142857,3673917.0
33,UTTAR PRADESH,48248265.0,435700.000000,199812341.0
34,UTTARAKHAND,5495857.0,67508.000000,10086292.0
35,WEST BENGAL,24815523.0,265210.000000,91276115.0

In [18]:
# Dropping the states for which population data was not found in census data
newdf.dropna(inplace=True)

In [19]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0
3,ASSAM,11430053.0,177262.285714,31205576.0
4,BIHAR,25167378.0,317408.428571,104099452.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0
9,GOA,1112815.0,3632.857143,1458545.0
10,GUJARAT,30219308.0,394058.428571,60439692.0
11,HARYANA,10492106.0,77112.142857,25351462.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0
14,JHARKHAND,8797921.0,77175.428571,32988134.0
15,KARNATAKA,26662330.0,170487.428571,61095297.0
16,KERALA,17281691.0,266408.142857,33406061.0
18,LAKSHADWEEP,51678.0,118.142857,64473.0
19,MADHYA PRADESH,31664637.0,350478.857143,72626809.0
20,MAHARASHTRA,36383348.0,234940.000000,112374333.0
21,MANIPUR,1173886.0,3286.285714,2855794.0
22,MEGHALAYA,968800.0,5198.142857,2966889.0
23,MIZORAM,660109.0,967.857143,1097206.0
24,NAGALAND,639379.0,1365.857143,1978502.0
25,ODISHA,15009657.0,183224.571429,41974218.0
26,PUDUCHERRY,616278.0,2849.142857,1247953.0
27,PUNJAB,8406019.0,77846.285714,27743338.0
28,RAJASTHAN,28531782.0,260147.857143,68548437.0
29,SIKKIM,500829.0,525.000000,610577.0
30,TAMIL NADU,21748109.0,177212.000000,72147030.0
32,TRIPURA,2433697.0,4058.142857,3673917.0
33,UTTAR PRADESH,48248265.0,435700.000000,199812341.0
34,UTTARAKHAND,5495857.0,67508.000000,10086292.0
35,WEST BENGAL,24815523.0,265210.000000,91276115.0

In [20]:
newdf.reset_index(drop=True,inplace=True)

In [21]:
newdf

,State,First_Dose,First_Dose_Vaccination_Rate,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0
3,ASSAM,11430053.0,177262.285714,31205576.0
4,BIHAR,25167378.0,317408.428571,104099452.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0
9,GOA,1112815.0,3632.857143,1458545.0
10,GUJARAT,30219308.0,394058.428571,60439692.0
11,HARYANA,10492106.0,77112.142857,25351462.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0
13,JHARKHAND,8797921.0,77175.428571,32988134.0
14,KARNATAKA,26662330.0,170487.428571,61095297.0
15,KERALA,17281691.0,266408.142857,33406061.0
16,LAKSHADWEEP,51678.0,118.142857,64473.0
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0
19,MANIPUR,1173886.0,3286.285714,2855794.0
20,MEGHALAYA,968800.0,5198.142857,2966889.0
21,MIZORAM,660109.0,967.857143,1097206.0
22,NAGALAND,639379.0,1365.857143,1978502.0
23,ODISHA,15009657.0,183224.571429,41974218.0
24,PUDUCHERRY,616278.0,2849.142857,1247953.0
25,PUNJAB,8406019.0,77846.285714,27743338.0
26,RAJASTHAN,28531782.0,260147.857143,68548437.0
27,SIKKIM,500829.0,525.000000,610577.0
28,TAMIL NADU,21748109.0,177212.000000,72147030.0
29,TRIPURA,2433697.0,4058.142857,3673917.0
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0
32,WEST BENGAL,24815523.0,265210.000000,91276115.0

In [22]:
state_result_df = newdf.copy()

In [23]:
# Finding the number of people left for vaccination in each state
state_result_df['Population_Left'] = state_result_df['Population'] - state_result_df['First_Dose']
state_result_df

,State,First_Dose,First_Dose_Vaccination_Rate,Population,Population_Left
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0,147872.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0,66064636.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0,682750.0
3,ASSAM,11430053.0,177262.285714,31205576.0,19775523.0
4,BIHAR,25167378.0,317408.428571,104099452.0,78932074.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0,321871.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0,16161687.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0,-11424.0
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0,8536939.0
9,GOA,1112815.0,3632.857143,1458545.0,345730.0
10,GUJARAT,30219308.0,394058.428571,60439692.0,30220384.0
11,HARYANA,10492106.0,77112.142857,25351462.0,14859356.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0,1913813.0
13,JHARKHAND,8797921.0,77175.428571,32988134.0,24190213.0
14,KARNATAKA,26662330.0,170487.428571,61095297.0,34432967.0
15,KERALA,17281691.0,266408.142857,33406061.0,16124370.0
16,LAKSHADWEEP,51678.0,118.142857,64473.0,12795.0
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0,40962172.0
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0,75990985.0
19,MANIPUR,1173886.0,3286.285714,2855794.0,1681908.0
20,MEGHALAYA,968800.0,5198.142857,2966889.0,1998089.0
21,MIZORAM,660109.0,967.857143,1097206.0,437097.0
22,NAGALAND,639379.0,1365.857143,1978502.0,1339123.0
23,ODISHA,15009657.0,183224.571429,41974218.0,26964561.0
24,PUDUCHERRY,616278.0,2849.142857,1247953.0,631675.0
25,PUNJAB,8406019.0,77846.285714,27743338.0,19337319.0
26,RAJASTHAN,28531782.0,260147.857143,68548437.0,40016655.0
27,SIKKIM,500829.0,525.000000,610577.0,109748.0
28,TAMIL NADU,21748109.0,177212.000000,72147030.0,50398921.0
29,TRIPURA,2433697.0,4058.142857,3673917.0,1240220.0
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0,151564076.0
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0,4590435.0
32,WEST BENGAL,24815523.0,265210.000000,91276115.0,66460592.0

In [24]:
# Finding the number of days required to vaccinate the remaining population of each state for that states last week's 
# (08/08/2021 to 14/08/2021) vaccination rate
state_result_df['Days_Required'] = state_result_df['Population_Left'] / state_result_df['First_Dose_Vaccination_Rate']
state_result_df

,State,First_Dose,First_Dose_Vaccination_Rate,Population,Population_Left,Days_Required
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0,147872.0,58.520127
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0,66064636.0,445.086083
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0,682750.0,368.997066
3,ASSAM,11430053.0,177262.285714,31205576.0,19775523.0,111.560803
4,BIHAR,25167378.0,317408.428571,104099452.0,78932074.0,248.676679
5,CHANDIGARH,733579.0,6710.000000,1055450.0,321871.0,47.968852
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0,16161687.0,434.342197
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0,-11424.0,-4.419831
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0,8536939.0,117.927251
9,GOA,1112815.0,3632.857143,1458545.0,345730.0,95.167519
10,GUJARAT,30219308.0,394058.428571,60439692.0,30220384.0,76.690109
11,HARYANA,10492106.0,77112.142857,25351462.0,14859356.0,192.698004
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0,1913813.0,17.614014
13,JHARKHAND,8797921.0,77175.428571,32988134.0,24190213.0,313.444492
14,KARNATAKA,26662330.0,170487.428571,61095297.0,34432967.0,201.967777
15,KERALA,17281691.0,266408.142857,33406061.0,16124370.0,60.525064
16,LAKSHADWEEP,51678.0,118.142857,64473.0,12795.0,108.301088
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0,40962172.0,116.874873
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0,75990985.0,323.448476
19,MANIPUR,1173886.0,3286.285714,2855794.0,1681908.0,511.796035
20,MEGHALAYA,968800.0,5198.142857,2966889.0,1998089.0,384.385165
21,MIZORAM,660109.0,967.857143,1097206.0,437097.0,451.613137
22,NAGALAND,639379.0,1365.857143,1978502.0,1339123.0,980.426838
23,ODISHA,15009657.0,183224.571429,41974218.0,26964561.0,147.166730
24,PUDUCHERRY,616278.0,2849.142857,1247953.0,631675.0,221.707030
25,PUNJAB,8406019.0,77846.285714,27743338.0,19337319.0,248.403875
26,RAJASTHAN,28531782.0,260147.857143,68548437.0,40016655.0,153.822735
27,SIKKIM,500829.0,525.000000,610577.0,109748.0,209.043810
28,TAMIL NADU,21748109.0,177212.000000,72147030.0,50398921.0,284.399031
29,TRIPURA,2433697.0,4058.142857,3673917.0,1240220.0,305.612701
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0,151564076.0,347.863383
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0,4590435.0,67.998385
32,WEST BENGAL,24815523.0,265210.000000,91276115.0,66460592.0,250.596101

In [25]:
# Rounding off days required
state_result_df['Days_Required'] = state_result_df['Days_Required'].apply(np.ceil)
state_result_df

,State,First_Dose,First_Dose_Vaccination_Rate,Population,Population_Left,Days_Required
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0,147872.0,59.0
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0,66064636.0,446.0
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0,682750.0,369.0
3,ASSAM,11430053.0,177262.285714,31205576.0,19775523.0,112.0
4,BIHAR,25167378.0,317408.428571,104099452.0,78932074.0,249.0
5,CHANDIGARH,733579.0,6710.000000,1055450.0,321871.0,48.0
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0,16161687.0,435.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0,-11424.0,-4.0
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0,8536939.0,118.0
9,GOA,1112815.0,3632.857143,1458545.0,345730.0,96.0
10,GUJARAT,30219308.0,394058.428571,60439692.0,30220384.0,77.0
11,HARYANA,10492106.0,77112.142857,25351462.0,14859356.0,193.0
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0,1913813.0,18.0
13,JHARKHAND,8797921.0,77175.428571,32988134.0,24190213.0,314.0
14,KARNATAKA,26662330.0,170487.428571,61095297.0,34432967.0,202.0
15,KERALA,17281691.0,266408.142857,33406061.0,16124370.0,61.0
16,LAKSHADWEEP,51678.0,118.142857,64473.0,12795.0,109.0
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0,40962172.0,117.0
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0,75990985.0,324.0
19,MANIPUR,1173886.0,3286.285714,2855794.0,1681908.0,512.0
20,MEGHALAYA,968800.0,5198.142857,2966889.0,1998089.0,385.0
21,MIZORAM,660109.0,967.857143,1097206.0,437097.0,452.0
22,NAGALAND,639379.0,1365.857143,1978502.0,1339123.0,981.0
23,ODISHA,15009657.0,183224.571429,41974218.0,26964561.0,148.0
24,PUDUCHERRY,616278.0,2849.142857,1247953.0,631675.0,222.0
25,PUNJAB,8406019.0,77846.285714,27743338.0,19337319.0,249.0
26,RAJASTHAN,28531782.0,260147.857143,68548437.0,40016655.0,154.0
27,SIKKIM,500829.0,525.000000,610577.0,109748.0,210.0
28,TAMIL NADU,21748109.0,177212.000000,72147030.0,50398921.0,285.0
29,TRIPURA,2433697.0,4058.142857,3673917.0,1240220.0,306.0
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0,151564076.0,348.0
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0,4590435.0,68.0
32,WEST BENGAL,24815523.0,265210.000000,91276115.0,66460592.0,251.0

In [26]:
# Changing type of days_required to int
state_result_df = state_result_df.astype({'Days_Required': 'int32'})
state_result_df

,State,First_Dose,First_Dose_Vaccination_Rate,Population,Population_Left,Days_Required
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0,147872.0,59
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0,66064636.0,446
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0,682750.0,369
3,ASSAM,11430053.0,177262.285714,31205576.0,19775523.0,112
4,BIHAR,25167378.0,317408.428571,104099452.0,78932074.0,249
5,CHANDIGARH,733579.0,6710.000000,1055450.0,321871.0,48
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0,16161687.0,435
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0,-11424.0,-4
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0,8536939.0,118
9,GOA,1112815.0,3632.857143,1458545.0,345730.0,96
10,GUJARAT,30219308.0,394058.428571,60439692.0,30220384.0,77
11,HARYANA,10492106.0,77112.142857,25351462.0,14859356.0,193
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0,1913813.0,18
13,JHARKHAND,8797921.0,77175.428571,32988134.0,24190213.0,314
14,KARNATAKA,26662330.0,170487.428571,61095297.0,34432967.0,202
15,KERALA,17281691.0,266408.142857,33406061.0,16124370.0,61
16,LAKSHADWEEP,51678.0,118.142857,64473.0,12795.0,109
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0,40962172.0,117
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0,75990985.0,324
19,MANIPUR,1173886.0,3286.285714,2855794.0,1681908.0,512
20,MEGHALAYA,968800.0,5198.142857,2966889.0,1998089.0,385
21,MIZORAM,660109.0,967.857143,1097206.0,437097.0,452
22,NAGALAND,639379.0,1365.857143,1978502.0,1339123.0,981
23,ODISHA,15009657.0,183224.571429,41974218.0,26964561.0,148
24,PUDUCHERRY,616278.0,2849.142857,1247953.0,631675.0,222
25,PUNJAB,8406019.0,77846.285714,27743338.0,19337319.0,249
26,RAJASTHAN,28531782.0,260147.857143,68548437.0,40016655.0,154
27,SIKKIM,500829.0,525.000000,610577.0,109748.0,210
28,TAMIL NADU,21748109.0,177212.000000,72147030.0,50398921.0,285
29,TRIPURA,2433697.0,4058.142857,3673917.0,1240220.0,306
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0,151564076.0,348
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0,4590435.0,68
32,WEST BENGAL,24815523.0,265210.000000,91276115.0,66460592.0,251

In [27]:
# Finding the date till which the vaccination will be completed in each state
state_result_df['Vaccination_Completion_Date'] = state_result_df['Days_Required'].apply(lambda x: datetime.date(2021,8,14) + datetime.timedelta(days = x))
state_result_df

,State,First_Dose,First_Dose_Vaccination_Rate,Population,Population_Left,Days_Required,Vaccination_Completion_Date
0,ANDAMAN & NICOBAR ISLANDS,232709.0,2526.857143,380581.0,147872.0,59,2021-10-12
1,ANDHRA PRADESH,18516141.0,148431.142857,84580777.0,66064636.0,446,2022-11-03
2,ARUNACHAL PRADESH,700977.0,1850.285714,1383727.0,682750.0,369,2022-08-18
3,ASSAM,11430053.0,177262.285714,31205576.0,19775523.0,112,2021-12-04
4,BIHAR,25167378.0,317408.428571,104099452.0,78932074.0,249,2022-04-20
5,CHANDIGARH,733579.0,6710.000000,1055450.0,321871.0,48,2021-10-01
6,CHHATTISGARH,9383511.0,37209.571429,25545198.0,16161687.0,435,2022-10-23
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,2584.714286,586956.0,-11424.0,-4,2021-08-10
8,NCT OF DELHI,8251002.0,72391.571429,16787941.0,8536939.0,118,2021-12-10
9,GOA,1112815.0,3632.857143,1458545.0,345730.0,96,2021-11-18
10,GUJARAT,30219308.0,394058.428571,60439692.0,30220384.0,77,2021-10-30
11,HARYANA,10492106.0,77112.142857,25351462.0,14859356.0,193,2022-02-23
12,HIMACHAL PRADESH,4950789.0,108652.857143,6864602.0,1913813.0,18,2021-09-01
13,JHARKHAND,8797921.0,77175.428571,32988134.0,24190213.0,314,2022-06-24
14,KARNATAKA,26662330.0,170487.428571,61095297.0,34432967.0,202,2022-03-04
15,KERALA,17281691.0,266408.142857,33406061.0,16124370.0,61,2021-10-14
16,LAKSHADWEEP,51678.0,118.142857,64473.0,12795.0,109,2021-12-01
17,MADHYA PRADESH,31664637.0,350478.857143,72626809.0,40962172.0,117,2021-12-09
18,MAHARASHTRA,36383348.0,234940.000000,112374333.0,75990985.0,324,2022-07-04
19,MANIPUR,1173886.0,3286.285714,2855794.0,1681908.0,512,2023-01-08
20,MEGHALAYA,968800.0,5198.142857,2966889.0,1998089.0,385,2022-09-03
21,MIZORAM,660109.0,967.857143,1097206.0,437097.0,452,2022-11-09
22,NAGALAND,639379.0,1365.857143,1978502.0,1339123.0,981,2024-04-21
23,ODISHA,15009657.0,183224.571429,41974218.0,26964561.0,148,2022-01-09
24,PUDUCHERRY,616278.0,2849.142857,1247953.0,631675.0,222,2022-03-24
25,PUNJAB,8406019.0,77846.285714,27743338.0,19337319.0,249,2022-04-20
26,RAJASTHAN,28531782.0,260147.857143,68548437.0,40016655.0,154,2022-01-15
27,SIKKIM,500829.0,525.000000,610577.0,109748.0,210,2022-03-12
28,TAMIL NADU,21748109.0,177212.000000,72147030.0,50398921.0,285,2022-05-26
29,TRIPURA,2433697.0,4058.142857,3673917.0,1240220.0,306,2022-06-16
30,UTTAR PRADESH,48248265.0,435700.000000,199812341.0,151564076.0,348,2022-07-28
31,UTTARAKHAND,5495857.0,67508.000000,10086292.0,4590435.0,68,2021-10-21
32,WEST BENGAL,24815523.0,265210.000000,91276115.0,66460592.0,251,2022-04-22

In [28]:
state_result_df.drop(['First_Dose','Population','Days_Required'],axis=1,inplace=True)
state_result_df

,State,First_Dose_Vaccination_Rate,Population_Left,Vaccination_Completion_Date
0,ANDAMAN & NICOBAR ISLANDS,2526.857143,147872.0,2021-10-12
1,ANDHRA PRADESH,148431.142857,66064636.0,2022-11-03
2,ARUNACHAL PRADESH,1850.285714,682750.0,2022-08-18
3,ASSAM,177262.285714,19775523.0,2021-12-04
4,BIHAR,317408.428571,78932074.0,2022-04-20
5,CHANDIGARH,6710.000000,321871.0,2021-10-01
6,CHHATTISGARH,37209.571429,16161687.0,2022-10-23
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,2584.714286,-11424.0,2021-08-10
8,NCT OF DELHI,72391.571429,8536939.0,2021-12-10
9,GOA,3632.857143,345730.0,2021-11-18
10,GUJARAT,394058.428571,30220384.0,2021-10-30
11,HARYANA,77112.142857,14859356.0,2022-02-23
12,HIMACHAL PRADESH,108652.857143,1913813.0,2021-09-01
13,JHARKHAND,77175.428571,24190213.0,2022-06-24
14,KARNATAKA,170487.428571,34432967.0,2022-03-04
15,KERALA,266408.142857,16124370.0,2021-10-14
16,LAKSHADWEEP,118.142857,12795.0,2021-12-01
17,MADHYA PRADESH,350478.857143,40962172.0,2021-12-09
18,MAHARASHTRA,234940.000000,75990985.0,2022-07-04
19,MANIPUR,3286.285714,1681908.0,2023-01-08
20,MEGHALAYA,5198.142857,1998089.0,2022-09-03
21,MIZORAM,967.857143,437097.0,2022-11-09
22,NAGALAND,1365.857143,1339123.0,2024-04-21
23,ODISHA,183224.571429,26964561.0,2022-01-09
24,PUDUCHERRY,2849.142857,631675.0,2022-03-24
25,PUNJAB,77846.285714,19337319.0,2022-04-20
26,RAJASTHAN,260147.857143,40016655.0,2022-01-15
27,SIKKIM,525.000000,109748.0,2022-03-12
28,TAMIL NADU,177212.000000,50398921.0,2022-05-26
29,TRIPURA,4058.142857,1240220.0,2022-06-16
30,UTTAR PRADESH,435700.000000,151564076.0,2022-07-28
31,UTTARAKHAND,67508.000000,4590435.0,2021-10-21
32,WEST BENGAL,265210.000000,66460592.0,2022-04-22

In [29]:
state_result_df = state_result_df[['State','Population_Left','First_Dose_Vaccination_Rate','Vaccination_Completion_Date']]
state_result_df

,State,Population_Left,First_Dose_Vaccination_Rate,Vaccination_Completion_Date
0,ANDAMAN & NICOBAR ISLANDS,147872.0,2526.857143,2021-10-12
1,ANDHRA PRADESH,66064636.0,148431.142857,2022-11-03
2,ARUNACHAL PRADESH,682750.0,1850.285714,2022-08-18
3,ASSAM,19775523.0,177262.285714,2021-12-04
4,BIHAR,78932074.0,317408.428571,2022-04-20
5,CHANDIGARH,321871.0,6710.000000,2021-10-01
6,CHHATTISGARH,16161687.0,37209.571429,2022-10-23
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,-11424.0,2584.714286,2021-08-10
8,NCT OF DELHI,8536939.0,72391.571429,2021-12-10
9,GOA,345730.0,3632.857143,2021-11-18
10,GUJARAT,30220384.0,394058.428571,2021-10-30
11,HARYANA,14859356.0,77112.142857,2022-02-23
12,HIMACHAL PRADESH,1913813.0,108652.857143,2021-09-01
13,JHARKHAND,24190213.0,77175.428571,2022-06-24
14,KARNATAKA,34432967.0,170487.428571,2022-03-04
15,KERALA,16124370.0,266408.142857,2021-10-14
16,LAKSHADWEEP,12795.0,118.142857,2021-12-01
17,MADHYA PRADESH,40962172.0,350478.857143,2021-12-09
18,MAHARASHTRA,75990985.0,234940.000000,2022-07-04
19,MANIPUR,1681908.0,3286.285714,2023-01-08
20,MEGHALAYA,1998089.0,5198.142857,2022-09-03
21,MIZORAM,437097.0,967.857143,2022-11-09
22,NAGALAND,1339123.0,1365.857143,2024-04-21
23,ODISHA,26964561.0,183224.571429,2022-01-09
24,PUDUCHERRY,631675.0,2849.142857,2022-03-24
25,PUNJAB,19337319.0,77846.285714,2022-04-20
26,RAJASTHAN,40016655.0,260147.857143,2022-01-15
27,SIKKIM,109748.0,525.000000,2022-03-12
28,TAMIL NADU,50398921.0,177212.000000,2022-05-26
29,TRIPURA,1240220.0,4058.142857,2022-06-16
30,UTTAR PRADESH,151564076.0,435700.000000,2022-07-28
31,UTTARAKHAND,4590435.0,67508.000000,2021-10-21
32,WEST BENGAL,66460592.0,265210.000000,2022-04-22

In [30]:
state_result_df.columns = ['stateid', 'populationleft', 'rateofvaccination', 'date']
state_result_df

,stateid,populationleft,rateofvaccination,date
0,ANDAMAN & NICOBAR ISLANDS,147872.0,2526.857143,2021-10-12
1,ANDHRA PRADESH,66064636.0,148431.142857,2022-11-03
2,ARUNACHAL PRADESH,682750.0,1850.285714,2022-08-18
3,ASSAM,19775523.0,177262.285714,2021-12-04
4,BIHAR,78932074.0,317408.428571,2022-04-20
5,CHANDIGARH,321871.0,6710.000000,2021-10-01
6,CHHATTISGARH,16161687.0,37209.571429,2022-10-23
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,-11424.0,2584.714286,2021-08-10
8,NCT OF DELHI,8536939.0,72391.571429,2021-12-10
9,GOA,345730.0,3632.857143,2021-11-18
10,GUJARAT,30220384.0,394058.428571,2021-10-30
11,HARYANA,14859356.0,77112.142857,2022-02-23
12,HIMACHAL PRADESH,1913813.0,108652.857143,2021-09-01
13,JHARKHAND,24190213.0,77175.428571,2022-06-24
14,KARNATAKA,34432967.0,170487.428571,2022-03-04
15,KERALA,16124370.0,266408.142857,2021-10-14
16,LAKSHADWEEP,12795.0,118.142857,2021-12-01
17,MADHYA PRADESH,40962172.0,350478.857143,2021-12-09
18,MAHARASHTRA,75990985.0,234940.000000,2022-07-04
19,MANIPUR,1681908.0,3286.285714,2023-01-08
20,MEGHALAYA,1998089.0,5198.142857,2022-09-03
21,MIZORAM,437097.0,967.857143,2022-11-09
22,NAGALAND,1339123.0,1365.857143,2024-04-21
23,ODISHA,26964561.0,183224.571429,2022-01-09
24,PUDUCHERRY,631675.0,2849.142857,2022-03-24
25,PUNJAB,19337319.0,77846.285714,2022-04-20
26,RAJASTHAN,40016655.0,260147.857143,2022-01-15
27,SIKKIM,109748.0,525.000000,2022-03-12
28,TAMIL NADU,50398921.0,177212.000000,2022-05-26
29,TRIPURA,1240220.0,4058.142857,2022-06-16
30,UTTAR PRADESH,151564076.0,435700.000000,2022-07-28
31,UTTARAKHAND,4590435.0,67508.000000,2021-10-21
32,WEST BENGAL,66460592.0,265210.000000,2022-04-22

In [31]:
state_result_df.to_csv('Outputs/complete-vaccination.csv',index=False)